<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        a.a-default, a.a-default:hover {
            text-decoration: none;
            color: white;
        }
        body {
            width: 100%;
            height: 100vh;
            background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/df2e0b25850293.5634bb770aa1e.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-clip: border-box;
        }
    </style>    
</head>

<body>
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>